
.button {
  width: 100%;
  text-align: left;
  font-size: 30pt;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: #dcfdff;
}

html {
  width: 100%;
}

body {
  background-color: white;
  margin: 20px;
  left: 5%;
  right: 5%;
}

.section {
  padding: 10px;
  margin-bottom: 30px;
  background-color: #d1cfcf;
  -webkit-box-shadow: 0 0 4px 4px #d1cfcf;
  -moz-box-shadow: 0 0 4px 4px #d1cfcf;
  box-shadow: 0 0 4px 4px #d1cfcf;
}

h1 {
  overflow-x: hidden;
}


@media only screen and (max-width: 1000px) {
  .button {
    display: block;
    padding: 14px 28px;
    height: 150px;
    margin-top: -10px;
    font-size: 30pt;
    white-space: nowrap;
  }
  h1 {
    font-size: 40pt;
  }

}

  @media only screen and (min-width: 1001px) {
    .button {
      background-color: #dcfdff;
      text-decoration: none;
      font-size: 15pt;
      cursor: pointer;
      margin-bottom: -15px;
    }
  }

   .button:hover {
     box-shadow: 0 1px 4px 0, 0 1px 4px 0;
     background-color: lightgreen;
   }
